<div class="calc-keys">
        <input class="calc-screen" type="text" [value]="currentNumber" disabled> 
    <div class="keys">
        <button value="X" (click)="getOperation('*')">X</button>
        <button value="-" (click)="getOperation('-')">-</button>
        <button value="+" (click)="getOperation('+')">+</button>
        <button value="/" (click)="getOperation('/')">/</button>

        <button value="1" (click)="getNumber('1')">1</button>
        <button value="2" (click)="getNumber('2')">2</button>
        <button value="3 "(click)="getNumber('3')">3</button>

        <button value="4" (click)="getNumber('4')">4</button>
        <button value="5" (click)="getNumber('5')">5</button>
        <button value="6" (click)="getNumber('6')">6</button>

        <button value="7" (click)="getNumber('7')">7</button>
        <button value="8" (click)="getNumber('8')">8</button>
        <button value="9" (click)="getNumber('9')">9</button>

        <button value="0" (click)="getNumber('0')">0</button>
        <button class="dot" value="." (click)="getDecimal()">.</button>
        <button class="ac" value="AC" (click)="clear()">AC</button>
        <button class="equal" value="=" (click)="getOperation('=')">=</button>
    </div>
</div>